<img class="logo animated fadeInLeftBig" src="images/logo.png" alt="">

<p class="startbtn animated fadeInLeftBig">iniciar</p>

<h1 id="titulo" class=" animated fadeInLeftBig" >  El karaoke interactivo, en el que  tu calificación es en base a los aplausos que te dan.</h1>

