<img class="logo animated fadeInRightBig" src="images/logo.png" alt="">


<p class="escuchar animated fadeInRightBig"> Escuchar</p>
<p class="cantar animated fadeInRightBig"> Cantar</p>
<br>
<p class="evento animated fadeInRightBig"></p>

<img class="manitas animated fadeInRightBig" src="images/manita.png" alt="">
<img class="microfono animated fadeInRightBig" src="images/mic.png" alt="">
<p>hola</p>