.Chose_view{
    contain: content;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;

    p{

        text-align: center;
        height: 20%;
        margin-left: 10%;
        margin-top: -60%;
        color: #5CECF5;
        
    }
    .escuchar{
        width: 20vh;
        height: 20vh;
        margin-top: 10%;
        margin-left: 20%;
        color: white;
        border-radius: 100%;
     
        background: linear-gradient(180deg, #5A0389 0%, #E757FF 100%);

        padding-top: 23%;

    }
    .cantar{
        width: 20vh;
        height: 20vh;
        margin-left: 60%;
        color:white;
        margin-top: -40%;
        border-radius: 100px;
        background: linear-gradient(180deg, #0095DB 0%, #69C6F2 100%);
        
        padding-top: 23%;
        

    }
    .evento{
        top: 10vh;
        left: 24vh;
        text-align: center;
        color:red;
        

    }
    .logo{
        width: 43vh;
        margin-left: 24%;
    }
    .microfono{
        width: 10%;
        height: 10%;
        margin-left: 70%;
        margin-top: -50%;
        z-index: 1;


    }
    .manitas{
        width: 10%;
        height: 10%;
        margin-left: 32%;
        margin-top: -50%;
        z-index: 1;
    }
}