<img class="logo animated fadeInRightBig" src="images/logo.png" alt="">


<br>
<p class="evento animated fadeInRightBig"></p>


<p class="titulo animated fadeInRightBig">¿Qué quieres hacer hoy?</p>
<p class="escuchar animated fadeInRightBig"> Escuchar</p>
<img class="manitas animated fadeInRightBig" src="images/manita.png" alt="">
<p class="cantar animated fadeInRightBig"> Cantar</p>
<img class="microfono animated fadeInRightBig" src="images/mic.png" alt="">