<button class= "reaction animated rollIn" id= 'reaction1'>Cosa buena</button>
<button class= "reaction animated rollIn" id= 'reaction2'>Cosa buena</button>
<button class= "reaction animated rollIn" id= 'reaction3'>Cosa buena</button>
<button class= "reaction animated rollIn" id= 'reaction4'>Cosa buena</button>
<button class= "reaction animated rollIn" id= 'reaction5'>Cosa mala</button>
<button class= "reaction animated rollIn" id= 'reaction6'>Cosa mala</button>
<button class= "reaction animated rollIn" id= 'reaction7'>Cosa mala</button>
<button class= "reaction animated rollIn" id= 'reaction8'>Cosa mala</button>