<h1>ESCOGE EL GÉNERO</h1>
<p class="contorno"></p>
<p class="selected">Géneros</p>
<img class="musicIcon" src="images/guitar.png" alt="">
<img class="musicIcon2" src="images/pianoguitar.png" alt="">
<img class="musicIcon3" src="images/acordeon.png" alt="">
<img class="musicIcon4" src="images/banjo.png" alt="">
<img class="musicIcon5" src="images/mezcladora.png" alt="">
<img class="musicIcon6" src="images/acousticguitar.png" alt="">
