<p class="titulo">¿Te quieres bajar del escenario?</p>

<p class="btnfondo1"></p>
<img class="yes" src="images/next.png" alt="">

<p class="btnfondo2"></p>
<img class="no" src="images/tacha.png" alt="">
