
<div class= "rolon animated slideInUp" id= "video1">Coldplay - The Scientist  
    <p class="play">play</p></div>
<div class= "rolon animated slideInUp" id= "video2">Queen - Bohemian Rhapsody  
    <p class="play">play</p></div>
<div class= "rolon animated slideInUp">Coldplay - The Scientist  
    <p class="play">play</p></div>
