<input class='user' placeholder="email" value="{{email}}"  type="text">
<input class='pwd' placeholder="password" value={{password}} type="password">
<button class="login">Login</button>

<div class="error">
    
</div>