<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="description" content="Este 2018 los votantes mexicanos estamos listos para usar la tecnología a nuestro favor, porque ya nos toca a nosotros verle la cara a los políticos.">

  <meta property="og:url"                content="http://www.candidatum.mx" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="candidatum.mx" />
  <meta property="og:description"        content="Este 2018 los votantes mexicanos estamos listos para usar la tecnología a nuestro favor, porque ya nos toca a nosotros verle la cara a los políticos." />
  <meta property="og:image"              content="http://candidatum.vanguardia.com.mx/candidatum.png" />


  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://www.candidatum.mx">
  <meta name="twitter:title" content="candidatum.mx">
  <meta name="twitter:description" content="Este 2018 los votantes mexicanos estamos listos para usar la tecnología a nuestro favor, porque ya nos toca a nosotros verle la cara a los políticos.">
  <meta name="twitter:image" content="http://candidatum.vanguardia.com.mx/candidatum.png">

  

  <title>{{ htmlWebpackPlugin.options.title}} </title>
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<link rel="stylesheet" href="animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

<body class='bgBlue'>
  <div id="restOfUs" class="onditas2">

  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


</body>
</html>
